*{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: slateblue;
}
span{
  width: 100%;
  background-color: wheat;
}
div{
  height: 300px;
  width: 300px;
  background-image: url("./block.png");
  background-size: contain;
}

div.box.left{
  color: red;
 }

div.box.left{
  color: blue;
}