div {
    min-height: 200px;
    min-width: 200px;
    padding: 100px;
    font-size: 40px;
    line-height: 38px;
    font-family: 'Roboto', Helvetica, sans-serif;
}
.one{
    color: greenyellow;
}

.two{
    background-color: cornflowerblue;
    border: 2px solid pink;
}

.three{
    background-color: blue;
}

.four{
    background-color: darkblue;
}