<h1>YOU CAME HERE TO EDIT A JOKE</h1>

<form method="POST" action="/jokes/<%= joke.id %>">
  <p>Image Url</p>
  <input name="image" type="text" value="<%= joke.image %>"/>
  <p>Joke's Text</p>
  <textarea name="text" type="text" value="<%= joke.text %>" ></textarea>
  <button type="submit">Edit JOKE</button>
</form>