<h1>Welcome to meme-ory</h1>
<h2>Here are some memes</h2>
<a href="/memes/new">Add a meme</a>
<br></br>
<!-- go through the list of memes -->
<% for(let key in memes) { %>
    <a href="/memes/<%= memes[key].id%>">
        <img src=<%= memes[key].image %> style="width: auto; height: 200px;" >
            <p style="position: absolute; margin-top: -220px;"><%= memes[key].topText %></p>
            <p style="position: absolute;"><%= memes[key].bottomText %></p>
        </img>
    </a>
    <br></br>
    <br></br>
    <br></br>
<% } %>