<h1>Welcome to meme-ory</h1>
<h2>Post Your Meme</h2>

<form action="/memes" method="post" >
    <label>Top Text</label>
    <input name="topText" type="text"/>
    <label>bottom Text</label>
    <input name="bottomText" type="text"/>
    <label>Image</label>
    <input name="image" type="text"/>
    <input type="submit" value="add a dank me me"/>
</form>