<h2>Register to Passwordasaurus</h2>
<form action="/users" method="POST">
  <label>username</label>
  <input name="username"/>
  <label>password</label>
  <input name="password"/>
  <input type="submit" value="Register"/>
</form>