<h1>You are here to see a question</h1>

<h2> The question is: <%= question.text %></h2>
<form method="post" action="/questions/<%= questionId %>/answer">
  <label>Answer</label>
  <input type="text" name="answer" />
  <input type="submit" value="submit"/>
</form>

<form method="post" action="/questions/<%= questionId %>">
  <input type="submit" value="delete"/>
</form>

<a href="/route">to route</a>