<h2>Login Here</h2>

<form action="/login" method="POST">
  <label>username</label>
  <input name="username"/>
  <label>password</label>
  <input name="password"/>
  <input  type="submit" value="Login" />
</form>