<h2>Sign up Here</h2>

<form action="/register" method="POST">
  <label>username</label>
  <input name="username"/>
  <label>password</label>
  <input name="password"/>
  <input  type="submit" value="register" />
</form>