<form action="/animals" method="POST">
  <label>Name</label>
  <input type="text" name="name" />
  <label>species</label>
  <input type="text" name="species" />
  <label>group_name</label>
  <input type="text" name="group_name" />
  <label>cuteness</label>
  <input type="number" name="cuteness" />
  <label>region</label>
  <input type="text" name="region" />
  <label>picture</label>
  <input type="text" name="picture" />
  <input type="submit" value="Add Animal"/>
</form>