.pokedex{
  width: 50%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eb4034;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.pokedex img{
  width: 100%;
  height: auto;
  /* background-color: #94ffd2; */
  border-radius: 10px;
}
.pokedex.unidentified img{
  filter: brightness(0%);
}