.pokedex{
  max-width: 400px;
  border-radius: 20px;
  padding: 20;
  margin: auto;
  background-color: #fc1703;
}
.pokedex img{
  width: 100%;
  height: auto; 
  border-radius: 10px;
}

.pokedex.unidentified img{
  filter: brightness(0);
}