.pokedex {
  border-radius: 15px;
  background-color: #eb5534;
  padding: 20px;
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 30vw;
}

.pokedex .screen {
  border-radius: 15px;
  background-color: #97f786;
  padding: 20px;
}

.pokedex .screen img {
  width: 100%;
  height: auto;
}

.pokedex .screen img.unidentified {
  filter: brightness(0);
}