<form action='/pokemon' method='post'>
  <label>
    type:
    <input name='type'></input>
  </label>
  <label>
    name:
    <input name='name'></input>
  </label>
  <label>
    number:
    <input name='number'></input>
  </label>
  <input type='submit' value='create'></input>
</form>