<h1> your mission should you choose to accept is...</h1>
<h1> <%= name %></h1>
<p> <%= content %></p>
<p> post your answer to /answer using post man, your body should contain the key answer: with your answer</p>