<h2>Add a recipe</h2>
<form method="post" action="/recipes">
  <label>name</label>
  <input name="name"/>
  <label>directions</label>
  <input name="directions"/>
  <label>cost</label>
  <input name="cost"/>
  <label>time</label>
  <input name="time"/>
  <input type="submit"/>
</form>