<h1>You are here to create a question</h1>

<form method="POST" action="/questions">
  <label>text</label>
  <input name="text" type="text"/>
  <label>answer</label>
  <input name="answer" type="text"/>
  <label>reward</label>
  <input name="reward" type="text"/>
  <input type="submit" name="Add"/>
</form>