<h1>Passwordasaurus</h1>
<h2>Add a new password</h2>
<form action="/passwords" method="POST">
  <label>Restrictions</label>
  <input name="restrictions"/>
  <label>symbols</label>
  <input name="symbols"/>
  <label>length</label>
  <input type="number" name="length"/>
  <label>domain</label>
  <input name="domain"/>
  <label>password</label>
  <input type="password" name="password"/>
  <input type="submit" value="Add Password"/>
</form>