<h2>Login Here</h2>
<form method="POST" action="/user/login">
  <label>username</label>
  <input type="text" name="username"/>
  <label>password</label>
  <input type="password" name="password"/>
  <input type="submit" value="login"/>
</form>