<h2>Register</h2>
<form action="/register" method="POST">
  <label>Username</label>
  <input type="text" name="username"/>
  <label>password</label>
  <input type="password" name="password"/>
  <input type="submit" value="register"/>
</form>